# Env
.env

# Replay files (too large for git)
replays/*.rofl

# Generated output
output/*.json

# Decoder binary & build artifacts
decoder/target/
decoder/patch/*.patch
decoder/*.bin

# Ruby
extractor/.bundle/
extractor/vendor/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
.item_cache.json
output/*.html
